.detail-restaurant {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  font-size: 14px;
  margin: 100px 5%;
}

.label-section-detail-resto {
  font-size: 15px;
  margin: 80px 0 20px 0;
  text-align: center;
}

detail-restaurant-info {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  display: grid;
  gap: 18px 16px;
}
.restaurant__detail {
  display: grid;
  grid-template-columns: 1fr;
}
    
.restaurant__poster {
  width: 100%;
  max-height: 400px;
  border-radius: 20px;
}
.restaurant__info {
  padding-top: 15px;
}

.restaurant__title {
  font-weight: bold;
  font-size: 2.3rem;
  margin-bottom: 8px;
}

.restaurant__description {
  margin-top: 20px;
}

.menu-restaurant, .review-restaurant {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
}