.review-list {
    display: grid;
    gap: 10px;
}
.review-item {
    font-size: 14px;
    padding: 10px 20px 20px 20px;
    display: grid;
    grid-template-columns: auto 2fr;
    grid-template-areas: 
        "profile-element name-element"
        "profile-element date-element"
        "content-element content-element";
    border: 1px solid var(--black);
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: var(--box-shadow);
}

.review__profile {
    grid-area: profile-element;
    width: 65px;
    height: auto;
    margin-right: 15px;
    margin-top: 5px;
}
      
.review__name {
    grid-area: name-element;
    align-self: end;
}
.review__content {
    grid-area: content-element;
    font-size: 15px;
    margin-top: 12px;
  
}
.review__date {
    grid-area: date-element;
    align-self: start;
    margin-top: 5px;
}
    
