@import './variable.scss';
@import './mixins.scss';

@include media-in(small-mobile) {
    .hero-title {
        font-size: 38px;
    }
    .hero-description {
        font-size: 20px;
      }
}

@include media-in(mobile) {
  .exploration-container,
  .recommendation-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 16px;
    }
  }

@include media-in(tablet) {
    header{
        padding: 3rem 2rem;
    }
    .exploration-container, 
    .recommendation-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@include media-in(desktop) {
    main {
        max-width: 1200px;
      }
    header{
        padding: 3rem 5%;
    }
    

}